@import "./imports/_normalize.scss";

@mixin media-query($screen-size){
   @media screen and (min-width: $screen-size){
      @content;
   }
}
*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
   max-width: 1024px;
   margin: 0 auto;


.jumbotron{
  background: url("../images/roomies-eating-together-bg.jpg")center center no-repeat;
  text-align: center;
  margin-bottom: 0;
  padding-top: 0;
  background-size: cover;
  padding-bottom: 100px;
  .room-logo{
  width: 25%;
  margin-left: 20px;
  vertical-align: top;
  }
.nav-menu{
  float: right;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  width: 50%;
  color: white;
  p{display: none;}
  .ham-menu{display: block;}
  @include media-query(768px){
     p{display: block;}
     .ham-menu{display: none;}
  }

}

  .navbar-btn{
    margin-top: 30px;
    margin-bottom: 35px;
    background-color: black;
    color: white;
    }
  }
.living-container{
text-align: center;
color: white;
  }
.search-bx{
  width: 80%;
  margin: 0 auto;
   #search-sidebar{
     color: white;
     width: 30%;
     background: lightblue;
   .search-txt{
      display: none;
      @include media-query(768px){
      display: inline-block;
      }
   }

  }
}
.room-container{
  background: url("../images/buildings-yellow-green.svg")center center no-repeat;
  background-color: lightblue;
  color: white;
  text-align: center;
  // height: 150px;
  padding-top: 5px;
  padding-bottom: 60px;
  // margin-bottom: 0;
  p{
    margin-bottom: 15px;
    size: 50px;
    }
  .post-btn{
    color: white;
    background-color: black;
  }
 }
 .roommate-finder{
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
   h1{
     color: lightblue;
     font-size: 40px;
  }
 }

 .recommend-jumbo{
   background: url('../images/happy-roomies-bg.jpg')center,center,no-repeat;
   background-size: cover;
   color: #fff;
   text-align: center;
   padding-bottom: 50px;
   .social-media{

  .share-txt{
     @include media-query(768px){
        margin: 0 auto;
        display: inline-block;
        padding-right: 50px;
     }

     .share{
        display: block;
        @include media-query (768px){
           display: inline-block;
           padding: 0 10px;
        }
     }
  }
    .social-icon{
       width: 20px;
       height: 20px;
       background: lightblue;
       border-radius: 50%;
       margin: 0 10px;
    }
      .email-input-box{
         width: 80%;
         max-width: 400px;
         margin: 0 auto;
         @include media-query (768px){
            width: 60%;
            display: inline-block;
         }
   #email-bar{max-width: 300px;}
   #email-sidebar{
        color: white;
        height: 34px;
        max-width: 100px;
        width: 30%;
        background: grey;
        border: none;
         }
   }
 }
}

.success-stories{
  text-align: center;
  margin: 0 auto;
   h1{
     color: lightblue;
     font-size: 40px;
     padding-bottom: 15px;
   }
}
   .photo{
     width: 50%;
     border: white;
   }
   .row-stories{
     margin: 0 auto;
   }

.featured-rooms-container{
  background-color: #f7c760;
  text-align: center;
  border-color:#f7c760;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px;
  .see-more-btn{
   color: white;
   background-color: #35414E;
  }
 }
 .featured-header{
   text-align: center;
   h1{
     margin-bottom: 50px;
     padding-top: 50px;
  }
 }
 .profile-grid{
   text-align: center;
   h3{
     color: lightblue;
  }
 }
 .footer-container{
   @include media-query(768px){
     display: block;
  }
   background-color: #35414E;
   color: white;
   li{
     background-color: #35414E;
     display: inline-block;
     vertical-align: top;
     width: 24%;
     margin-top: 10px;
     }
     .room-logo{
       width: 50%;
       vertical-align: top;
     }
     .play{
       width: 70%;
       border: white;
     }

   }
  }
